@mixin phones {
  @media only screen and (max-width: #{$screen-sm-min - 1}) {
    @content;
  }
}

@mixin phones-landscape {
  @media only screen and (max-width: #{$screen-sm-min - 1}) and (orientation: landscape) {
    @content;
  }
}

@mixin phones-340px-landscape {
  @media only screen and (max-height: 340px) and (orientation: landscape) {
    @content;
  }
}
