<div class="search-box col-xs-12">
<%= form_tag search_path, method: :get, class: 'form-inline', remote: true, id: 'search-form' do %>
  <div class="form-group">
    <%= label_tag :keyword, nil, class: 'sr-only' %>
    <div class="input-group">
      <%= text_field_tag :keyword, nil, class: 'form-control', placeholder: 'Search...' %>
      <div class="input-group-addon btn-container">
        <%= button_tag name: nil do %>
          <%= content_tag :span, nil, class: 'glyphicon glyphicon-search' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
