<%= form_for category, url: action_path, as: :category, html: { class: 'horizontal-form new-category' } do |f| %>
  <fieldset class="category">
    <legend>Categories</legend>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
      <%= field_errors category, :name %>
    </div>
  </fieldset>
  <fieldset class="metadata">
    <legend>
      <span>Fields</span>
      <%= button_tag type: :button, class: 'btn btn-action add', title: 'Add' do %>
        <%= content_tag :span, nil, class: 'glyphicon glyphicon-plus' %>
      <% end %>
    </legend>
  <% category.metadata.each do |metadata| %>
    <div class="form-group">
      <%= f.fields_for :metadata, metadata do |metadata_fields| %>
          <%= metadata_fields.text_field :field_name, class: 'form-control', placeholder: 'Field Name', id: nil %>
          <%= button_tag type: :button, class: 'btn btn-action remove', title: 'Delete',
                         data: { id: (metadata_fields.object.id || 0) } do %>
            <%= content_tag :span, nil, class: 'glyphicon glyphicon-remove' %>
          <% end %>
      <% end %>
      <%= field_errors metadata, :field_name %>
    </div>
  <% end %>
    <%= field_errors category, :metadata %>
  </fieldset>
  <%= f.button 'Save', name: nil, class: 'btn btn-primary btn-action' %>
<% end %>
