<div class="categories">
  <div class="container">
    <div class="row">
      <%= render 'shared/search_box', search_path: search_categories_path %>
    </div>
    <div class="row">
      <div class="search-results col-xs-12">
        <ol class="data">
        <% @categories.each do |category| %>
          <li class="item">
            <div class="action">
              <%= button_tag 'C', type: 'button', data: { id: category.id }%>
            </div>
            <div class="excerpt">
              <h2><%= category.name %></h2>
              <div class="fields">
                <span class="field col-xs-12">
                  <%= pluralize category.records_count, 'record' %>
                </span>
              </div>
            </div>
          </li>
        <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="actions-bar animatable">
  <ul class="menu">
    <li class="item">
    <%= link_to content_tag(:span, nil, class: 'glyphicon glyphicon-plus'), new_category_path, class: 'action', title: 'New' %>
    </li>
    <li class="item">
    <%= link_to content_tag(:span, nil, class: 'glyphicon glyphicon-edit'), '', class: 'action edit', title: 'Edit' %>
    </li>
    <li class="item">
    <%= button_to nil, { method: :delete, class: 'action', title: 'Delete',
                         remote: true, form: { class: 'action delete', data: { type: :json } } } do %>
      <%= content_tag :span, nil, class: 'glyphicon glyphicon-remove' %>
    <% end %>
    </li>
  </ul>
</div> 
