<% @categories.each do |category| %>
  <li class="item">
    <div class="action">
      <%= button_tag 'C', type: 'button' %>
    </div>
    <div class="excerpt">
      <h2><%= category.name %></h2>
      <div class="fields">
        <span class="field col-xs-12">
          <%= pluralize category.records_count, 'record' %>
        </span>
      </div>
    </div>
  </li>
<% end %>
