.actions-bar {
  position: absolute;
  height: 56px;
  width: 100%;
  top: 100%;
  padding: 8px 0;
  background: #322F2F none no-repeat;
  .menu {
    width: 250px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    .item {
      height: 40px;
      width: 40px;
      display: inline-block;
      list-style: none;
      margin: 0 4px;
    }
  }
  .action {
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 45px;
    background: #1E6084 none no-repeat;
    /*color: #505050;*/
    color: #FFF;
    font-size: 18px;
    padding: 7px;
    text-align: center;
    border: 0 none;
    button {
      padding: 0;
    }
  }
}

.animatable {
  -moz-transition: .25s all ease-in-out;
  -ms-transition: .25s all ease-in-out;
  -o-transition: .25s all ease-in-out;
  -webkit-transition: .25s all ease-in-out;
  transition: .25s all ease-in-out;

}
.animatable.animated.slide-up {
  -moz-transform: translate(0, -56px);
  -ms-transform: translate(0, -56px);
  -o-transform: translate(0, -56px);
  -webkit-transform: translate(0, -56px);
  transform: translate(0, -56px);
}
