@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

html, body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  background: #FFF none no-repeat;
  font: 400 14px/1.5 'Roboto', sans-serif;
  color: #000;
}

body {
  overflow-y: hidden;
}

main {
  overflow-y: auto;
  height: -moz-calc(100% - 40px);
  height: calc(100% - 40px);
  min-height: 280px;
  min-width: inherit;
  background: #FFF none no-repeat;
}

input[type="text"],
input[type="password"] {
  height: 40px;
  padding: 7px;
  box-shadow: none;
  border-radius: 2px;
  font-size: 16px;
  color: #505050;
  //border: 1px solid #87B9E4; 
  border: 1px solid rgba(135, 185, 228, 0.67);
  &:focus {
    box-shadow: none;
    border-color: #F0F0F0;
  }
}

.btn-action {
  background-color: #075293;
  border-color: #033868;
  font-size: 16px;
}

form {
  .errors {
    margin-top: 1px;
    padding: 4px 4px 4px 20px;
    background: #DB2828 none no-repeat;
    border-radius: 2px;
    font-size: 13px;
    color: #FFF;
    .error {
      line-height: 1.2;
    }
  }
}
