// Place all the styles related to the record_types controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.categories {
  form.new-category {
    margin: 7px 0;
    padding: 4px;
    label {
      font-size: 16px;
      font-weight: 400;
      color: #6F6C6C;
    }
  }
  .category {
    legend {
      margin-bottom: 10px;
    }
  }
  .metadata {
    legend {
      margin-bottom: 5px;
      .btn-action.add {
        margin-bottom: 5px;
        border-radius: 2px;
        float: right;
      }
    }
    padding: 6px;
    input {
      display: inline-block;
      width: -moz-calc(100% - 40px);
      width: calc(100% - 40px);
    }
    .btn-action {
      display: inline-block;
      margin: 0 3px;
      color: #FFF;
      height: 30px;
      width: 30px;
      padding: 0;
      border-radius: 45px;
      vertical-align: middle;
      span {
        line-height: 1.5;
      }
    }
  }
}
