header {
  /*background: #135BAE;*/
  /*background: #075293 none no-repeat;*/
  background: #322F2F none no-repeat;
  height: 60px;
  color: #FFF;
  padding: 10px 2px;
  .menu {
    padding: 0;
    margin: 0;
    text-align: right;
    .item {
      display: inline-block;
      height: 40px;
      width: 40px;
      list-style: none;
      font-size: 24px;
      text-align: center;
      padding: 4px;
      line-height: 1;
      a {
        color: #FFF;
      }
    }
  }
}

header + main {
  height: -moz-calc(100% - 60px);
  height: calc(100% - 60px);
  @include phones-landscape {
    min-height: 260px;
  }
}
