.landing {
  display: table;
  height: 100%;
  min-height: inherit;
  width: 100%;
  min-width: inherit;
  background: url('landing-bg.png') repeat 0% 0% #DECCA7;
  .centered-box {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    .content {
      background-color: rgba(8, 8, 8, 0.8);
      height: 350px;
      @include phones-landscape {
        height: 100%;
      }
      .container {
        height: 100%;
        @include phones {
          width: 320px;
        }
        @include tablets {
          width: 600px;
          padding-top: 50px;
        }
      }
    }
  }
  .marketing {
    h1 {
      margin: 25px 0 0 0;
      color: #FFF;
      font-size: 35px;
      font-width: 300;
      @include phones-landscape {
        margin: 10% 0 0 0;
      }
      @include phones-340px-landscape {
        margin: 7px 0 0 0;
      }
    }
    p {
      color: #FFF8F8;
      font-size: 18px;
      @include phones-landscape {
        margin-bottom: 0;
      }
    }
  }
  .user-access {
    margin-top: 15px;
    @include phones-landscape {
      margin-top: 4%;
    }
    @include phones-340px-landscape {
      margin-top: 2px;
    }
    form {
      label {
        font-weight: 400;
        color: #FFF;
      }
      button {
        background-color: #075293;
        border-color: #033868;
        height: 40px;
        width: 130px;
        font-size: 16px;
      }
    }
  }
  input[type="text"],
  input[type="password"] {
    border: 1px solid #CCC;
  }
}
