// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search-results {
  padding: 0;
  .message {
    margin: 20px 0 10px;
    padding: 10px 2px;
    font-size: 16px;
    text-align: center;
  }
  .data {
    margin: 0;
    padding: 0;
    .item {
      height: 50px;
      list-style: none;
      &.selected > .excerpt {
        background: #DAEEFB none no-repeat;
      }
      .action {
        display: inline-block;
        height: 100%;
        width: 50px;
        padding: 5px;
        vertical-align: top;
        button {
          height: 40px;
          width: 40px;
          padding: 0;
          background: #1E6084 none no-repeat;
          border: 0 none;
          font-size: 20px;
          color: #FFF;
          //background: #075293 none no-repeat;
          //background: #4D4E50 none no-repeat;
          //background: #41841E none no-repeat;
        }
      }
      .excerpt {
        display: inline-block;
        height: 100%;
        width: calc(100% - 56px);
        padding: 5px 0;
        border-top: 1px solid rgba(135, 185, 228, 0.67);
        h2 {
          margin: 0 0 6px;
          overflow: hidden;
          font-size: 15px;
          font-weight: 500;
          color: #505050;
          text-transform: uppercase;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .fields {
          margin: 0;
          font-size: 14px;
          color: #6F6C6C;
          .field {
            overflow: hidden;
            text-align: right;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
