// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search-box {
  height: 44px;
  margin: 7px 0;
  padding: 2px;
  .input-group {
    width: 100%;
  }
  input[type="text"] {
    border-right: 0 none;
  }
  .btn-container {
    height: 40px;
    width: 56px;
    padding: 0;
    /*background: #075293 none no-repeat;*/
    background: #1E6084 none no-repeat;
    /*border: 1px solid #075293;*/
    border: 1px solid #1E6084;
    border-radius: 0 2px 2px 0;
    button {
      height: 100%;
      width: 100%;
      /*background: #075293 none no-repeat;*/
      background: #1E6084 none no-repeat;
      border: 0 none;
      font-size: 18px;
      color: #FFF;
    }
  }
}
