<div class="landing">
  <div class="centered-box">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="marketing col-xs-12 col-sm-4">
            <h1>Archie</h1> 
            <p>Archie everything!</p>
          </div>
          <div class="user-access col-xs-12 col-sm-8">
            <%= form_tag '' %> 
              <div class="form-group">
                <%= label_tag :username %> 
                <%= text_field_tag :username, nil, class: 'form-control' %>
              </div> 
              <div class="form-group">
                <%= label_tag :password %>
                <%= password_field_tag :password, nil, class: 'form-control' %>
              </div>
              <%= button_tag 'Log In', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>
