<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
    <title>Archie</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <ul class="menu">
        <li class="item">
          <%= link_to content_tag(:span, nil, class: 'glyphicon glyphicon-home'), categories_path, class: 'action', title: 'Home' %> 
        </li>
        <li class="item">
          <%= link_to content_tag(:span, nil, class: 'glyphicon glyphicon-plus'), new_category_path, class: 'action', title: 'New' %> 
        </li>
      </ul>  
    </header> 
    <main><%= yield %></main>
  </body>
</html>
